.product-item img {
	height: 100%;
}

.product-item + .product-item {
	margin-top: 5rem;
}

@media (max-width: 480px) {
	.product-item li {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	.product-item li {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	.product-item img {
		margin-bottom: 2rem;
	}
}
