.register-product {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.register-product fieldset + fieldset {
	margin-top: 1.5rem;
}

.register-product input {
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 2px 5px;
}

.register-product fieldset legend {
	margin-bottom: 1rem;
}

.register-product img {
	width: 15rem;
	height: 15rem;
	margin-bottom: 4rem;
	margin-right: 4rem;
}

.register-product form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (max-width: 480px) {
	.register-product {
		flex-direction: column;
	}

	.register-product img {
		margin-right: 0;
	}

	.register-product button {
		margin-left: auto;
		margin-right: auto;
		margin-top: 4rem;
	}
}
